@use '../utilities' as *;
@use '../base' as *;

.error__answer {
  @include for-phone {
    margin: 0;
    padding-left: 30px;
    transform: translateY(-20px);
    width: initial;
  }
  
  @include for-tablet {
    margin: 0;
    padding-left: 50px;
    transform: translateY(-20px);
    width: initial;
  }

  display: block;
  margin: 0 auto;
  padding-left: 50px;
  transform: translateY(-150px);
  width: fit-content;
}